<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-12-md col-lg-12 col-xl-12 col-xxl-12">

           <div class="row g-3">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                <h2>Admin Login</h2> 
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label">Username</label>
                <input   name ="username" [(ngModel)] ="username" type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label">Password</label>
                <input   name ="password" [(ngModel)] ="password" type="password" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                <button (click)="login()" class="btn btn-success">Login</button>
            </div>
            <br>
<div class="text-center small">Click here<a class="card-link" routerLink="/employeelogin">Employee Login</a></div>
<br>
<div class="text-center small">New User?<a class="card-link" routerLink="/securitylogin">Security Login</a></div>

           </div>

        </div>
    </div>
</div>

